@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
*{font-family: 'Work Sans', sans-serif;margin: 0;}
header{padding: 50px 240px;
background: rgba(255, 144, 14, 0.10);}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
font-size: 1.2rem;
font-weight: 600;
padding: 20px 25px;
border: none;
cursor: pointer;
}
nav{display: flex;
justify-content: space-between;}
.nav-title{color:#131313;
    font-size: 2.5rem;
    font-weight: 700;}
nav>ul{display: flex;align-items: center;}
nav li{list-style: none;}
nav a{text-decoration: none;margin-right: 30px;
    color: #424242;
    font-size: 1rem;
    font-weight: 500;}
.banner-content{
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
}
.banner-title{
    color:#131313;
font-size: 3.8rem;
font-weight: 700;
}
.banner-description{
    color:#727272;
font-size: 1rem;
font-weight: 400;
}
.banner img{width: 100%;
margin: 20px;}

.teams-container{
    display: flex;
    align-items: center;
    padding: 5rem 8rem 8rem 12rem;
}
.image{
  width: 16rem;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.2rem;
}
.teams-content{
    padding-left: 65px;
    padding-right: 65px;
}
.teams-title{
    font-size: 2.5rem;
}
.quick-list{
    color:#727272;
    font-weight: 500;
}
.of-our{
    color:#131313;
    font-weight: 700;
}
.features{
    color: #FF900E;
    font-weight: 700;
}
.teams-description{
    color:#727272;
font-size:1rem;
font-weight: 400;
margin-top: 1.5rem;
margin-bottom: 1.5rem;
}
/* media query */
@media screen and (max-width:576px) {
    header{padding:20px;}
    nav,.teams-container{flex-direction: column;padding:0px;align-items: center;}
    .banner img{margin: 20px 0px;}
    .teams-img-container{grid-template-columns: 1fr;margin-bottom: 20px;margin-top: 20px;
}
}
@media screen and (min-width:576px) and (max-width:960px) {
    header{padding:6.25rem;width: 100%;}
    nav{flex-direction: column;
    align-items: center;}
    .banner img{margin: 20px 0px;
    }
}